<div class="lineup-grid s11-padding">
  <s11-formation
    [selectedFormation]="selectedFormation()"
    [formations]="formations()"
    (onFormationChange)="onFormationChange($event)"></s11-formation>

  <s11-lineup-row
    position="Goalkeeper"
    rowTitle="Tormann"
    [maxNumOfPlayers]="1"
    [selectedPlayers]="[goalkeeper()]"
    [playerList]="playerStore.goalkeepers()"
    [isFrozen]="isFrozen()"
    (selectedPlayerChange)="onSelectedPlayerChanged($event)"></s11-lineup-row>
  <s11-lineup-row
    position="Defender"
    rowTitle="Verteidigung"
    [maxNumOfPlayers]="selectedFormation()?.defense ?? 0"
    [selectedPlayers]="defenders()"
    [playerList]="playerStore.defenders()"
    [isFrozen]="isFrozen()"
    (selectedPlayerChange)="onSelectedPlayerChanged($event)"></s11-lineup-row>
  <s11-lineup-row
    position="Midfielder"
    rowTitle="Mittelfeld"
    [maxNumOfPlayers]="selectedFormation()?.midfield ?? 0"
    [selectedPlayers]="midfielder()"
    [playerList]="playerStore.midfielders()"
    [isFrozen]="isFrozen()"
    (selectedPlayerChange)="onSelectedPlayerChanged($event)"></s11-lineup-row>
  <s11-lineup-row
    position="Attacker"
    rowTitle="Stürmer"
    [maxNumOfPlayers]="selectedFormation()?.attack ?? 0"
    [selectedPlayers]="attacker()"
    [playerList]="playerStore.attackers()"
    [isFrozen]="isFrozen()"
    (selectedPlayerChange)="onSelectedPlayerChanged($event)"></s11-lineup-row>

  <br /><br />
</div>
