.faq-header {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  font-size: 20px;
}

.faq-grid {
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  grid-gap: 4px;
}
