.s11-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.icon-display {
  transform: scale(1.15);
}

button {
  margin-right: 8px;
}
