<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- Mobile nav -->
      <button mat-menu-item [matMenuTriggerFor]="mobile" fxShow="true" fxHide.gt-sm><mat-icon>menu</mat-icon></button>
      <mat-menu #mobile="matMenu">
        <button mat-menu-item routerLink="/home" routerLinkActive="active"><span class="fa fa-users fa-sm"></span> Home</button>
        <button mat-menu-item routerLink="/profile" routerLinkActive="active"><span class="fas fa-user fa-sm"></span> Profil</button>
        <button mat-menu-item routerLink="/home/logout" routerLinkActive="active"><span class="fas fa-sign-out-alt fa-sm"></span> Logout</button>
      </mat-menu>
      <div class="center" *ngIf="authService.currentLeague">
        {{ authService.currentLeague.name }}
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div *ngIf="isMobile">
    <img src="/assets/StartingEleven.jpg" width="100%">
</div>
<div *ngIf="!isMobile">
  <img src="/assets/StartingEleven.jpg" height="250px">
</div>
