<mat-accordion>
  <mat-expansion-panel
    [expanded]="
      isForLineup() ? numSelectedPlayers() < maxNumOfPlayers() : true
    ">
    <mat-expansion-panel-header>
      <mat-panel-title>
        @if (isForLineup()) {
        {{ rowTitle() }} ({{ numSelectedPlayers() }}/{{ maxNumOfPlayers() }}) }
        @else { {{ rowTitle() }} ({{ maxNumOfPlayers() }}) }
      </mat-panel-title>
      <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <div class="lineup-grid">
      @for (selectablePlayer of selectedPlayers(); track selectablePlayer) {
      <s11-player
        [player]="selectablePlayer"
        [playerList]="playerList()"
        [displayPointsSeparately]="!isForLineup()"
        [isSelectable]="isForLineup() && !isFrozen()"
        [isAdmin]="isAdmin()"
        [editMode]="editMode()"
        [matchDayId]="matchDayId()"
        (selectedPlayerChange)="onPlayerChange($event)"></s11-player>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
