<div class="matchday-grid s11-padding">
  @if (singleRow()) {
  <s11-lineup-row
    rowTitle="Alle"
    [maxNumOfPlayers]="players.length"
    [selectedPlayers]="players"
    [isForLineup]="false"
    [isAdmin]="isAdmin()"
    [editMode]="editMode()"
    [matchDayId]="matchday()"
    [playerList]="players"></s11-lineup-row>
  } @else {
  <s11-lineup-row
    position="Goalkeeper"
    rowTitle="Tormann"
    [maxNumOfPlayers]="goalkeeper().length"
    [selectedPlayers]="goalkeeper()"
    [isForLineup]="false"
    [isAdmin]="isAdmin()"
    [editMode]="editMode()"
    [matchDayId]="matchday()"
    [playerList]="playerStore.goalkeepers()"></s11-lineup-row>
  <s11-lineup-row
    position="Defender"
    rowTitle="Verteidigung"
    [maxNumOfPlayers]="defenders().length"
    [selectedPlayers]="defenders()"
    [isForLineup]="false"
    [isAdmin]="isAdmin()"
    [editMode]="editMode()"
    [matchDayId]="matchday()"
    [playerList]="playerStore.defenders()"></s11-lineup-row>
  <s11-lineup-row
    position="Midfielder"
    rowTitle="Mittelfeld"
    [maxNumOfPlayers]="midfielder().length"
    [selectedPlayers]="midfielder()"
    [isForLineup]="false"
    [isAdmin]="isAdmin()"
    [editMode]="editMode()"
    [matchDayId]="matchday()"
    [playerList]="playerStore.midfielders()"></s11-lineup-row>
  <s11-lineup-row
    position="Attacker"
    rowTitle="Stürmer"
    [maxNumOfPlayers]="attacker.length"
    [selectedPlayers]="attacker()"
    [isForLineup]="false"
    [isAdmin]="isAdmin()"
    [editMode]="editMode()"
    [matchDayId]="matchday()"
    [playerList]="playerStore.attackers()"></s11-lineup-row>
  }
</div>
