<div class="player-row">
  <s11-image [image]="image()"></s11-image>

  <div class="player-form">
    <mat-form-field>
      <mat-label>Name</mat-label>

      <mat-select
        [value]="player()?.playerId"
        (valueChange)="onValueChange($event)"
        [disabled]="!isSelectable()">
        @for (selectablePlayer of playerList(); track selectablePlayer.playerId)
        { @if (displayPointsSeparately()) {
        <mat-option [value]="selectablePlayer.playerId">{{
          selectablePlayer.name
        }}</mat-option>
        } @else {
        <mat-option [value]="selectablePlayer.playerId"
          >{{ selectablePlayer.name }} ({{
            totalPoints(selectablePlayer.playerId)
          }})</mat-option
        >
        } }
      </mat-select>
    </mat-form-field>

    @if (isAdmin()) { @if (editMode()) {

    <mat-form-field>
      <mat-label>Aufstellungen gesamt</mat-label>
      <input
        matInput
        disabled
        value="{{
          numOfCurrentMatchdayLineups() + numOfPastMatchdayLineups()
        }}" />
    </mat-form-field>

    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Punkte</mat-label>
        <input
          matInput
          placeholder="0"
          (change)="setCurrentPoints($event)"
          [value]="player()?.pointsCurrentRound" />
      </mat-form-field>
    </form>

    } @else {

    <mat-form-field>
      <mat-label>Aufstellungen Spieltag</mat-label>
      <input matInput disabled value="{{ numOfPastMatchdayLineups() }}" />
    </mat-form-field>

    <form>
      <mat-form-field>
        <mat-label>Punkte</mat-label>
        <input matInput disabled value="{{ points() }}" />
      </mat-form-field>
    </form>

    } } @else { @if ((displayPointsSeparately())) {
    <form>
      <mat-form-field>
        <mat-label>Punkte</mat-label>
        <input matInput disabled value="{{ points() }}" />
      </mat-form-field>
    </form>
    } }
  </div>
</div>
