.profile-card {
  max-width: 400px;
}

.profile-image {
  padding-left: 16px;
  padding-right: 16px;
}

mat-form-field {
  display: block;
}

@media all and (min-width: 0px) and (max-width: 400px) {
  .profile-card {
    margin: 16px;
  }
}

@media all and (min-width: 400px) and (max-width: 6000px) {
  .profile-card {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 50%;
  }
}

.mat-card-header-text {
  width: 100%;
  text-align: center;
}

.file-input {
  display: none;
}
