
<div style="margin-left: 15px; margin-top: 20px;">
    <h2 class="large">Starting Eleven Wettbewerb 2023/2024 - Preise</h2>

    <span class="fa fa-check fa-sm"></span> Melde dich jetzt an für den Starting Eleven Wettbewerb 2023/2024 <br>
    <span class="fa fa-check fa-sm"></span> Kaufe deine Lieblingsspieler am Transfermarkt <br>
    <span class="fa fa-check fa-sm"></span> Entwickle für dein Team die perfekte Formation und Aufstellung <br>
    <span class="fa fa-check fa-sm"></span> Erziele möglichst viele Punkte <br>
    <span class="fa fa-check fa-sm"></span> ...und gewinne am Ende der Saison einen der folgenden großartigen Preise:

    <br><br>

    <div class="small" style="margin-left: 15px;">
        <span class="fa fa-trophy fa-sm"></span> Platz 1: 2 Tickets für ein Heimspiel des SK Puntigamer Sturm Graz im Frühjahr 2024 <br>
        <span class="fa fa-medal fa-sm"></span> Platz 2: Gutschein über 40 € für den Fanshop des HV TDP Stainz <br>
        <span class="fa fa-archway fa-sm"></span> Platz 3: 1 personalisiertes Heimtrikot des HV TDP Stainz <br>
        <span class="fa fa-futbol fa-sm"></span> Plätze 4-10: 1 gratis Essen und Getränk bei einem Heimspiel des HV TDP Stainz <br>
    </div>
    
</div>

<br><br>
