<div style="margin-left: 15px; font-size: 20px;">
    <h1>Profil</h1>
    
    <h2>
        <div *ngIf="!editMode">
            <i class="fas fa-pen" (click)="setEditMode()">
                {{ this.displayName }}
            </i>
        </div>

        <div *ngIf="editMode">
            <i class="fas fa-check" (click)="changeName()"></i>
            <input style="margin-left: 15px; font-size: 40px;" *ngIf="editMode" 
                [ngModel]="displayName" 
                (ngModelChange)="displayName = $event">
        </div>
    </h2>

    <p>
        {{ this.email }}
    </p>
    
    <img src="{{ this.photoUrl }}" *ngIf="this.photoUrl" width="400px">
    <img *ngIf="this.photoRef" [src]="this.photoRef | async" width="400px"/>
    <p>
        <label for="file">Profilbild wählen: </label>
        <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </p>
</div>
<br>
<br>
