/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'firebaseui/dist/firebaseui.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #8c92ac;
}

.s11-full-size {
  height: 100%;
  width: 100%;
}

.s11-full-width {
  width: 100%;
}

.s11-padding {
  padding: 4px;
}

.s11-margin {
  margin: 4px;
}

.s11-icon-circular-border {
  height: 40px;
  width: 40px;
  // height: 25px;
  // width: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0px;
  display: inline-block;
}

.s11-icon-circular-content {
  position: relative;
  right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

.stretch {
  display: block;
  margin: auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .dot {
//   height: 25px;
//   width: 25px;
//   background-color: #bbb;
//   border-radius: 50%;
//   display: inline-block;
// }
