.team {
    background-image: url("/assets/field.svg");
    background-repeat: no-repeat;
    background-size: 100% ;
    /* background-color: #cccccc; */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    background-position: center top;
    /* position:absolute; 
    width:100%; 
    height:100%; */
    
}

.player {
    max-width: 200px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

table {
    width: 100%;
}
