<!-- <img class="logo" src="/assets/images/logo.gif"> -->

<!-- Social feed -->
<div class="icon-bar">
  <a href="https://www.facebook.com/hvtdpstainz/" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a> 
  <a href="https://twitter.com/HvStainz/" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a> 
  <a href="mailto:hvtdpstainz@gmx.at" class="mail"><i class="fa fa-envelope"></i></a> 
  <a href="https://www.instagram.com/hvtdpstainz_2014/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a> 
</div>

<div *ngFor="let item of items | async">
    <pre>{{ item | json }}</pre>
</div>

<ngx-auth-firebaseui *ngIf="!this.authService.isSignedIn()" [providers]="[providers.Google, providers.Facebook, providers.EmailAndPassword]" 
                     (onSuccess)="printUser($event)"
                     [guestEnabled]="false"
                     (onError)="printError()">
</ngx-auth-firebaseui>

<!-- <ngx-auth-firebaseui-user></ngx-auth-firebaseui-user> -->

<div *ngIf="this.authService.isSignedIn()" style="margin-left: 15px; margin-top: 20px; font-size: 20px">
    Meine Ligen:
    &nbsp;
    <mat-form-field>
        <mat-select placeholder="Wähle deine Liga" (selectionChange)="selectLeague($event.value)">
            <mat-option *ngFor="let league of leagues" [value]="league">
                {{league.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>
    ODER
    <br><br>
    <button style="font-size: 20px" mat-button class="background-primary" (click)="showNewLeagueDialog()">Liga gründen</button>
    <!-- TODO: mat-dialog mit Auswahl Liga (= derzeit Grenzlandcup) + Eingabe Liganame + Passwort (md5-hash!) -->
    <br><br>
    ODER
    <br><br>
    Liga beitreten
    <br><br>
    Liganame:
    <br>
    <input [ngModel]="joinleaguename" (ngModelChange)="joinleaguename = $event"> 
    <br><br>
    Passwort:
    <br>
    <input [(ngModel)]="joinpasswordname" (ngModelChange)="joinpasswordname = $event">
    &nbsp;
    <button style="font-size: 20px" mat-button class="background-primary" (click)="joinLeague()">beitreten</button>
</div>

<div *ngIf="this.authService.currentLeague" style="margin-left: 15px; margin-top: 20px; font-size: 20px">
    <br>
    <div *ngIf="this.newsLine">
        {{newsLine}}
    </div>

    <br>

    <b><u>Top 11 der Runde:</u></b>
    <div *ngFor="let mvp of this.topEleven">
        {{mvp.name}} ({{mvp.points}})
        <br>
    </div>

    <br>

    <b><u>MVP's (Punkte):</u></b>
    <div *ngFor="let mvp of this.mvpPlayersByPoints">
        {{mvp.name}} ({{mvp.points}})
        <br>
    </div>

    <br>

    <b><u>MVP's (Marktwert):</u></b>
    <div *ngFor="let mvp of this.mvpPlayersByMarketValue">
        {{mvp.name}} ({{mvp.marketValue | number: '2.'}})
        <br>
    </div>
    <br>
    <br>

</div>
<br>

<cookie-law></cookie-law>
